@font-face {
    font-family: 'Fira Sans Light';
    src: url(./Fonts/FiraSans-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Fira Sans Light';
    display: flex;
    justify-content: center;
    background-color:  #fffdf7;
    transition: background-color 2s ease;
}

.main-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 900px;
    margin-top: 330px;
}



#location-input {
    width: 500px;
    height: 30px;
    padding: 0px 40px 0px 5px;
    border: 2px solid rgb(167, 167, 167);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(187, 187, 187);
}

#submit {
    position: relative;
    right: 230px;
    top: 333px;
    border: none;
    height: 25px;
    width: 25px;
    background: transparent url(./icons/magnify.svg);
    opacity: 0.6;
}

#submit:hover {
    cursor: pointer;
}

.condition-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#condition {
    font-weight: bold;
}

.icons-contain {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.hide {
    display: none;
}

.sunny {
    background-color: rgb(186, 242, 255);
}

.mild {
    background-color: rgb(216, 248, 255);
}

.cold {
    background-color: rgb(237, 252, 255);
}

.showers {
    background-color: rgb(198, 229, 235);
}

.freezing {
    background-color: rgb(245, 253, 255);
}

.thunder {
    background-color: rgb(197, 197, 197);
}